* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'montserrat', sans-serif;
}
body {
  background:  #EEE;
  color: #313154;
  display: flex;
  justify-content: center;
}

.container {
  .container {
    height: 400px;
    width: 600px;
}
}

.task {
  margin-bottom: 10px;
}

.task.completed span {
  text-decoration: line-through;
}
#personal{

}
.greeting .title {
  display: flex;
}
.greeting .title input {
  margin-left: 0.5rem;
  flex: 1 1 0%;
  min-width: 0;
  border: none;
}
.greeting .title, 
.greeting .title input {
  color: #313154;
  font-size: 1.5rem;
  font-weight: 700;
}
#btnSave{
  background-color: red;
}
h3 {
  color: #313154;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
h4 {
  color: #888;
  font-style: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.create_task{

}
section{
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}