* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'montserrat', sans-serif;
}
body {
  background:  #EEE;
  color: #313154;
  display: flex;
  justify-content: center;
}


  .container {
    height: 400px;
    width: 600px;
}


.task {
  margin-bottom: 10px;
}

.task.completed span {
  text-decoration: line-through;
}
#personal{

}
#name{
  background: none;
}
.greeting .title {
  display: flex;
}
.greeting .title input {
  margin-left: 0.5rem;
  flex: 1 1 0%;
  min-width: 0;
  border: none;
}
.greeting .title{
  display: flex;
}
.greeting .title input {
  color: #313154;
  font-size: 1.5rem;
  font-weight: 700;
}
#btnSave{
  background-color: #EA40A4;
  height: 2rem;
  width: 4rem;
  border: none;
  border-radius: 0.3rem;
  margin-right: 0.4rem;
  margin-left: 1rem;
}
#editInput{
  width: 22rem;
  font-size: 1.4rem;
  border: none !important;
}
h3 {
  color: #313154;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
h4 {
  color: #888;
  font-style: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.createTask{
width: 100%;
}
#taskName{
  width: 100%;
  padding: 1.1rem;
  border: none;
  font-size: 18px;
  border-radius: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1)
}
section{
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
#business , #personal{
  height: 1.3rem;
}
#label_business{
  display: flex;
  flex-direction:column;
  gap: 1rem;
  padding:2rem 5.6rem;
  background-color: white;
  border-radius: 1rem;
  font-size: 1.2rem;
}
#label_personal{
  display: flex;
  flex-direction:column;
  gap: 1rem;
  padding:2rem 5.6rem;
  background-color: white;
  border-radius: 1rem;
  font-size: 1.2rem;
}
#addTodo{
  display: block;
  height: 3rem;
 padding: 1rem , 1.5rem !important;
  color: #fff;
  width: 100%;
  background-color: #3A82EE;
  box-shadow: 0px 0px 4px rgba(58, 130, 238, 0.75);
  border-radius: 0.5rem;
  border: none;
}
#checkbox_result{
  height: 2rem;
  width: 3rem;
  margin-left: 1rem;
}
#task{
  margin-left: 1.3rem;
  width: 34.5rem;
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 3.5rem;
  border-radius: 0.5rem;
}
#spanTaskName{
  width: 22rem;
  font-size: 1.4rem;
}
#editBtn{
  background-color: #EA40A4;
  height: 2rem;
  width: 4rem;
  border: none;
  border-radius: 0.3rem;
  margin-right: 0.4rem;
}
#deleteBtn{
  background-color: #ff5b57;
  height: 2rem;
  width: 5rem;
  margin-right: 1rem;
  border: none;
  border-radius: 0.3rem;
}